<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

	<div class="container blog-content-container">

		<form th:action="@{~/login}" method="post">
			<h2>Please Login</h2>

			<div class="form-group col-md-5">
				<label for="username" class="col-form-label">Username</label> <input
					type="text" class="form-control" id="username" name="username"
					maxlength="50" placeholder="please input your account">

			</div>
			<div class="form-group col-md-5">
				<label for="password" class="col-form-label">Password</label> <input
					type="password" class="form-control" id="password" name="password"
					maxlength="30" placeholder="please input your password">
			</div>
			<div class="form-group col-md-5">
				<input type="checkbox" value="remember-me"> Remember me
			</div>
			<div class="form-group col-md-5">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>

		</form>
	</div><!-- /container -->


	<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>